[MASTER]
load-plugins=
    pylint_django,
ignore=
    tests,
    migrations,

[MESSAGES CONTROL]
disable=
    duplicate-code,
    abstract-method,
    unnecessary-pass,
    too-many-arguments,
    too-few-public-methods,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,

[FORMAT]
max-line-length=99
